<head>
    <meta charset="UTF-8" />
    <title>登录</title>
    <style type="text/css">
        ul li{
            list-style: none;
        }
    </style>
</head>
<body>
<div >
    <form name="form" accept-charset="utf-8"  action="/loginVerify" method="post">
        <ul >
            <li>
                <label for="openId"  class="input-tips2">openId：</label>
                <div class="inputOuter2">
                    <input type="text" id="openId" name="openId" maxlength="16" />
                </div>
            </li>
            <li>
                <label for="nickName" class="input-tips2">nickName：</label>
                <div >
                    <input type="text" id="nickName"  name="nickName" maxlength="16"/>
                </div>
            </li>
            <li>
                <div >
                    <input type="submit" value="登录"/>
                </div>
            </li>
        </ul>
    </form>
</div>
</body>  